.created-account-modal {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(61, 68, 102, 0.8);
  height: 100vh;
  width: 100vw;
}

.created-account-modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #989797;
  color: black;
  border-radius: 8px;
  padding: 1rem;
  width: 40%;
  height: 40%;
}

.created-account-modal .modal-content .close-btn {
  border-radius: 8px;
  border: none;
  background-color: rgb(183, 22, 22);
  padding: 0.5rem;
  color: #fafafa;
  transition: 0.2s;
}

.created-account-modal .modal-content .close-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.created-account-modal .modal-content .delete-created-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
