.collection-points-page-switch {
  margin: 0.6rem 0;
}

.collection-points-page-switch button {
  background-color: transparent;
  border: none;
  color: #fafafa;
  font-size: 1.2rem;
  opacity: 0.8;
  cursor: pointer;
}

.collection-points-page-switch .active-type {
  opacity: 1;
  text-decoration: underline;
  font-weight: bold;
}
