.toast {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 100;
  width: 25%;
  height: 14%;
  color: #fafafa;
  border-radius: 8px;
}

.toast.success {
  background: rgb(7, 141, 7);
}

.toast.error {
  background-color: rgb(183, 15, 15);
}
